.navbar{
    background-color: #111315;
}

.nav-link{
    font-weight: 700;
    font-size: 1.1rem;

}

.nav-link:hover{
    color: #00BCD4;
    cursor: pointer;
}

.nav-item{
    margin: 0 1.1rem;
    padding: 1rem;
}

@media(max-width: 991px)
{
    .navbar-nav{
        display: flex !important;
        align-items: center;
    }

    
}