.contenedor-sobreMi{
    min-height: 30rem;
    background-color: #090909;
    margin-top: 4px;

}

.text-sobre, .text-mi{
    font-size: 2rem;
    color: aliceblue;
    font-weight: 700;
        
}

.letra-color{
    color: #00BCD4;
    
    
}

.letra-color-mi{
    font-weight: 800;
}

.letra-color-tech{
    color: #072e35;
    font-weight: 800;
    
}

.text-informacion{
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.row-technology{
    width: 75%;
}

.separador{
    background-color: #072e35;
    height: 28rem;
    width: 2px;
    margin: 0 3rem;
}


/*LINEA DEL TIEMPO*/
.title-exp{
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;    
    color: #f8f8f8a9;
}

.cpFfaB{
    height: 240px !important;
    width: 340px !important;
}


@media(max-width: 800px)
{
   .separador{
    height: 0.1rem;
    width: 20rem;
    margin-bottom: 1rem;
   }

   .contenedor-tecnologia{
    padding: 4rem;
   }
    
}

@media(max-width: 550px)
{
   .separador{
    height: 0.1rem;
    width: 20rem;
   }

   .contenedor-tecnologia{
    padding: 1rem;
   }
    
}
